%h1 List of your friends

.ui.middle.aligned.divided.animated.list
  - @friendships.each do |friendship|
    - if friendship.status == :accepted
      .item
        %img.ui.avatar.image{:src => "#"}/
        .content
          .header= friendship.owner_id == current_user.id ? User.find(friendship.friend_id).email : User.find(friendship.owner_id).email
          = link_to '<i class="red times icon"></i>'.html_safe, {controller: "friendships", params: {id: friendship.id, type: :friendship}, action: 'destroy'}, method: :post
